# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import numpy as np

# DataSet Loading

In [2]:
df = pd.read_excel('Dataset__ai.xlsx')
df.head(7)

,Data set,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Exp. No,Input parameter,NaN,NaN,Output values,NaN,NaN
1,NaN,E,I,TON,SR,MRR,WLT
2,1.,0.0168,10,100,4.391,0.00019,0.03
3,2.,0.0168,10,200,6.181,0.000446,0.065
4,3.,0.0168,10,400,7.203,0.000524,0.08
5,4.,0.0168,16,100,5.238,0.000549,0.0325
6,5.,0.0168,16,200,7.472,0.000603,0.07

# Data Pre-Processing

In [3]:

column_mapping = {
                  'Unnamed: 1': 'E',
                  'Unnamed: 2': 'I',
                  'Unnamed: 3': 'TON',
                  'Unnamed: 4': 'SR',
                  'Unnamed: 5': 'WLT',
                  'Unnamed: 6': 'MRR'
                }

# Rename columns using the rename method
df.rename(columns=column_mapping, inplace=True)

In [4]:
df.dropna(inplace=True)

In [5]:
df

    Data set       E   I  TON     SR       WLT     MRR
2   1.        0.0168  10  100  4.391   0.00019    0.03
3   2.        0.0168  10  200  6.181  0.000446   0.065
4   3.        0.0168  10  400  7.203  0.000524    0.08
5   4.        0.0168  16  100  5.238  0.000549  0.0325
6   5.        0.0168  16  200  7.472  0.000603    0.07
7   6.        0.0168  16  400  9.071  0.000787   0.105
8   7.        0.0168  20  100  5.842  0.000492    0.05
9   8.        0.0168  20  200    9.6  0.000538    0.09
10  9.        0.0168  20  400  9.893  0.000568   0.115
11    10.      7.837  10  100  4.721  0.000131    0.04
12    11.      7.837  10  200  7.456  0.000273   0.075
13    12.      7.837  10  400  9.089   0.00035    0.08
14    13.      7.837  16  100  5.415  0.000273  0.0625
15    14.      7.837  16  200  8.622  0.000315     0.1
16    15.      7.837  16  400  9.422  0.000472   0.125
17    16.      7.837  20  100  7.494  0.000267  0.0675
18    17.      7.837  20  200  10.37   0.00049  0.1175
19    18.      7.837  20  400   12.8  0.000518   0.175

In [6]:
df.drop(columns=['Data set'],inplace=True)
df = df.reset_index(drop=True)

In [7]:
df.head()

        E   I  TON     SR       WLT     MRR
0  0.0168  10  100  4.391   0.00019    0.03
1  0.0168  10  200  6.181  0.000446   0.065
2  0.0168  10  400  7.203  0.000524    0.08
3  0.0168  16  100  5.238  0.000549  0.0325
4  0.0168  16  200  7.472  0.000603    0.07

# Inputs and Outputs Setup

In [8]:
inputs=df[['E','I','TON']]

In [9]:
inputs.head()

        E   I  TON
0  0.0168  10  100
1  0.0168  10  200
2  0.0168  10  400
3  0.0168  16  100
4  0.0168  16  200

In [10]:
outputs=df[['SR','WLT','MRR']]

In [11]:
outputs.shape

(18, 3)

In [12]:
outputs.head()

      SR       WLT     MRR
0  4.391   0.00019    0.03
1  6.181  0.000446   0.065
2  7.203  0.000524    0.08
3  5.238  0.000549  0.0325
4  7.472  0.000603    0.07

# Random Forest Regressor Model

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
model = RandomForestRegressor(n_estimators=100, random_state=42)  # Number of trees in the forest

In [15]:
model.fit(inputs, outputs)

RandomForestRegressor(random_state=42)

# Accuracy

In [16]:
model.score(inputs,outputs)

0.9556845777943401

# Predictions

In [17]:
predictions=model.predict(inputs)

In [18]:
data = pd.DataFrame(predictions)

In [19]:
data

           0         1         2
0    4.68211  0.000250  0.034350
1    6.72469  0.000439  0.070200
2    7.65004  0.000533  0.083200
3    5.35309  0.000472  0.041150
4    7.72037  0.000574  0.077500
5    8.82731  0.000701  0.101350
6    6.49742  0.000443  0.057375
7    9.58515  0.000539  0.094425
8   10.37363  0.000555  0.122000
9    4.93168  0.000166  0.043325
10   7.58181  0.000305  0.077300
11   8.73785  0.000379  0.086550
12   5.56989  0.000298  0.056725
13   8.44848  0.000378  0.096450
14   9.38371  0.000479  0.116000
15   7.17983  0.000325  0.067425
16  10.59178  0.000492  0.122975
17  12.00415  0.000515  0.156950

# Saving Model

In [21]:
import joblib

# Assuming 'model' is your trained model
joblib.dump(model, 'model.pkl')

['model.pkl']